@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #cbd5e0;
}
::-webkit-scrollbar-thumb {
  background: #2d3748;
}
::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

.imgOverlay:hover section {
  background-color: rgba(5, 5, 5, 0.4);
}
.imgOverlay:hover button:hover {
  background: rgba(5, 5, 5, 0.45);
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
